<router-outlet></router-outlet>















<!-- Spinner-progress -->
<!-- <mat-progress-spinner value="100"></mat-progress-spinner>
<mat-spinner *ngIf="showSpinner" color="warn">data</mat-spinner>
<button mat-fab color="accent" (click)="loadIt()">Load</button>
<mat-progress-bar mode="indeterminate"></mat-progress-bar><br><br>
<mat-progress-bar mode="buffer" [value]="" [bufferValue]="" color="primary"></mat-progress-bar> -->

<!-- Buttons -->
<!-- normal button ===>  
<button mat-button (click)="onClick">button</button>
<button mat-flat-button>flat</button>
<button mat-raised-button (click)="onClick">raised</button>
<button mat-stroked-button>stroked </button>

<div>
    icon ===>  
    <button mat-icon-button >icon</button>
    <button mat-fab >icon</button>
    <button mat-mini-fab >icon</button>
</div>
<div>
    button types ===>  
    <button mat-button color="primary">primary</button>
    <button mat-fab color="primary" disableRipple>primary fab</button>
    <button mat-fab color="accent">accent</button>
    <button mat-raised-button color="warn">warned</button>
</div>
<div>
    Mat button hoga toggle module ===>   
    <mat-button-toggle #tog>Toggle</mat-button-toggle>
    {{tog.checked}}
    <div>
        <mat-button-toggle-group #togG="matButtonToggleGroup" multiple >
            <mat-button-toggle value="angular" color="accent">Angular</mat-button-toggle>
            <mat-button-toggle value="react" color="accent">React</mat-button-toggle>
            <mat-button-toggle value="vue">Vue</mat-button-toggle>
        </mat-button-toggle-group>
        {{togG.value}}
    </div>
</div> -->

<!-- Typography -->

<!-- <div class='mat-display-4'> Text</div>
<div class='mat-display-3'> Text</div>
<div class='mat-display-2'> Text</div>
<div class='mat-display-1'> Text</div>

<div class='mat-typography'>
    <h1>Text</h1>
    <h2>Text</h2>
    <h3>Text</h3>
    <h4>Text</h4>
</div>

<div class='mat-headline'> Mat Headline h1</div>
<div class='mat-title'> Title h2</div>
<div class='mat-subheading-2'> Text h3</div>
<div class='mat-subheading-1'> Text h4</div>

<div class='mat-body-1'> body 1</div>
<div class='mat-body-2'> body 2</div>
<div class='mat-caption'> caption</div> -->